* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
} 
 
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100vw; 
    height: 100vh; 
} 
 
.wrapper { 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-direction: column; 
    width: 80%; 
    height: 900px; 
    border: 1px solid #000; 
} 
 
.menu { 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 80%; 
    height: 200px; 
    border: 1px solid lightblue; 
} 
 
.box { 
    display: flex; 
    flex-wrap: wrap; 
    width: 602px; 
    height: 602px; 
    border: 1px solid #000; 
    cursor: pointer;
} 
 
.item { 
    width: 25%; 
    height: 150px; 
    border: 1px solid #000; 
}